In [1]:
import pandas as pd
import numpy as np
import pickle
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [2]:
data=pd.read_csv('IceCreamData.csv')
data

     Temperature     Revenue
0      24.566884  534.799028
1      26.005191  625.190122
2      27.790554  660.632289
3      20.595335  487.706960
4      11.503498  316.240194
..           ...         ...
495    22.274899  524.746364
496    32.893092  755.818399
497    12.588157  306.090719
498    22.362402  566.217304
499    28.957736  655.660388

[500 rows x 2 columns]

In [3]:
data.head()

   Temperature     Revenue
0    24.566884  534.799028
1    26.005191  625.190122
2    27.790554  660.632289
3    20.595335  487.706960
4    11.503498  316.240194

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temperature  500 non-null    float64
 1   Revenue      500 non-null    float64
dtypes: float64(2)
memory usage: 7.9 KB

In [5]:
x=data['Temperature']
y=data['Revenue']

In [6]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [7]:
len(x_train)

400

In [8]:
len(x_test)

100

In [9]:
model=LinearRegression()

In [10]:
y_test.ndim

1

In [11]:
x_test.ndim

1

In [12]:
np.array([x_train]).ndim

2

In [13]:
model.fit(np.array(x_train).reshape(-1,1),y_train)

LinearRegression()

In [14]:
y_pred=model.predict(np.array(x_test).reshape(-1,1))

In [15]:
y_pred

array([683.86467014, 499.24716171, 551.70399391, 351.41367323,
       379.46028844, 469.29306498, 307.83425966, 308.60460917,
       268.62189005, 515.49013422, 656.47365411, 239.0138478 ,
       284.58986474, 691.92951081, 638.41717545, 448.96451043,
       424.06307868, 450.58878711, 841.03813363, 665.7233612 ,
       393.91968499, 668.48623015, 246.1208964 , 664.16176495,
       706.62587599, 463.68822529, 567.46826484, 511.49232345,
       622.47695297, 414.20134704, 411.85593621, 210.37030285,
       560.04266192, 665.49919186, 256.83219156, 622.77584636,
       331.51635017, 667.71005556, 384.95723364, 352.82192593,
       624.28615942, 613.7737956 , 484.79222053, 601.05109673,
       466.34295353, 314.78244684, 791.03976002, 727.65071833,
        43.3821848 , 511.31871612, 540.47341344, 746.9455649 ,
       637.85433286, 597.86063692, 476.82163724, 369.33002115,
       594.26524188, 555.67798479, 611.20819562, 811.54066991,
       532.33121668, 743.32591619, 581.52859652, 593.08858678,
       510.80007277, 469.73375978, 679.57791786, 321.52012918,
       611.71416861, 169.690272  , 587.2921816 , 485.61243265,
       261.06551967, 386.54525055, 353.4079927 , 357.10585559,
       535.85433926, 290.35708203, 866.65386395, 306.1856463 ,
       724.24574028, 548.04189794, 521.78743912, 457.39760571,
       571.46076797, 641.18402695, 666.46939582, 415.55425876,
       548.11960782, 479.46316431, 547.565154  , 524.40832921,
       257.9978042 , 712.39516929, 681.33044121, 654.29170168,
       443.92584219, 960.01027339, 683.8034228 , 750.65763883])

In [16]:
y_test

344    702.994011
155    497.752318
261    570.990932
102    322.592741
107    362.515216
          ...
254    632.901914
250    427.138369
17     921.508275
361    659.873287
167    685.654655
Name: Revenue, Length: 100, dtype: float64

In [17]:
r2_score(y_test,y_pred)

0.9769589455666385

In [18]:
model.predict([[37]])

array([841.1010038])

In [19]:
with open('model.pkl','wb')as files:
  pickle.dump(model,files)